# Credentials for test users
CUSTOMER_1_EMAIL=""
CUSTOMER_1_PASSWORD=""
CUSTOMER_1_SURNAME=""

CUSTOMER_2_EMAIL=""
CUSTOMER_2_PASSWORD=""
CUSTOMER_2_SURNAME=""

CUSTOMER_3_EMAIL=""
CUSTOMER_3_PASSWORD=""
CUSTOMER_3_SURNAME=""

ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_SURNAME=""

ENVIRONMENT="staging"
